<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="myCard my-4">
            <div>
              <img
                src="images/NSE_IT.png"
                class="rounded mx-auto d-block mt-5 mb-3 logo"
                alt="NSE_IT"
              />
              <h1 class="h2 font-weight-normal text-center mb-3">
                Tools Automation
              </h1>
              <div
                class="container d-flex justify-content-center align-items-center"
              >
                <div class="progresses">
                  <div>
                    <a href="#" class="steps">
                      <span class="font-weight-bold">1</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div class="steps-outline">
                    <a href="#" class="steps-outline">
                      <span class="font-weight-bold">2</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps-outline">
                      <span class="font-weight-bold">3</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps-outline">
                      <span class="font-weight-bold">4</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="content">
                <p class="h6 mt-5 mb-3 bs-secondary-color">
                  Please select the tools to install
                </p>

                <div class="form-check d-flex mb-2">
                  <input
                    class="form-check-input custom-control-input"
                    type="checkbox"
                    value="Jenkin"
                    id="jenkins"
                    name="container"
                  />
                  <label class="form-check-label mx-3" for="jenkins">
                    Jenkins
                  </label>
                </div>
                <div class="form-check d-flex mb-2">
                  <input
                    class="form-check-input custom-control-input"
                    type="checkbox"
                    value="Git"
                    id="git"
                    name="container"
                  />
                  <label class="form-check-label mx-3" for="git"> Git </label>
                </div>
                <span
                  id="error"
                  class="text-danger font-weight-bold error"
                ></span>
              </div>
            </div>
            <!-- href="step2.html" -->
            <a
              type="button"
              class="button-success my-3 text-center w-25"
              id="button"
              onclick="validate()"
            >
              Continue
            </a>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <!-- Validation -->
    <script type="text/javascript">
      const validate = () => {
        let jenkinsCheckBox = document.getElementById("jenkins");
        let gitCheckBox = document.getElementById("git");
        let error = document.getElementById("error");

        if (!jenkinsCheckBox.checked && !gitCheckBox.checked) {
          error.innerHTML = "**Please choose any one tool";
        } else {
          error.innerHTML = "";
          window.location.href = "version";
        }
      };
    </script>
  </body>
</html>

<!-- // https://medium.com/weekly-webtips/how-to-ssh-using-node-js-f41952afe1da

  // Ubuntu Version
  // -- 20.04 LTS	
  // -- 22.04 LTS	

  // Server IP-address
  // username
  // private key

  // -- Java 11
  // ==== 20.04 LTS - https://www.linode.com/docs/guides/how-to-install-openjdk-on-ubuntu-20-04/
  // ==== 22.04 LTS - https://www.linuxcapable.com/how-to-install-openjdk-11-on-ubuntu-22-04-lts/
  // -- Java 17
  // ==== 20.04 LTS - https://www.rosehosting.com/blog/how-to-install-java-17-lts-on-ubuntu-20-04/
  // ==== 22.04 LTS - https://www.itzgeek.com/how-tos/linux/ubuntu-how-tos/install-java-jdk-17-on-ubuntu-22-04.html

  // Jenkins 
  // -- 20.04 LTS	
  // -- 22.04 LTS	
  // -- https://www.linuxtechi.com/install-configure-jenkins-ubuntu/

  // Git 
  // -- 20.04 LTS	
  // -- 22.04 LTS	
  // -- https://linuxhint.com/install-git-ubuntu22-04/ -->
