<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>

  <body>
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <form method="POST" action="/install" class="myCard my-4">
            <div>
              <img
                src="images/NSE_IT.png"
                class="rounded mx-auto d-block mt-5 mb-3 logo"
                alt="NSE_IT"
              />
              <h1 class="h2 font-weight-normal text-center mb-3">
                Tools Automation
              </h1>
              <div
                class="container d-flex justify-content-center align-items-center"
              >
                <div class="progresses">
                  <div>
                    <a href="/" class="steps">
                      <span class="font-weight-bold">1</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="version" class="steps">
                      <span class="font-weight-bold">2</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="server" class="steps">
                      <span class="font-weight-bold">3</span>
                    </a>
                  </div>

                  <span class="line"></span>

                  <div>
                    <a href="#" class="steps">
                      <span class="font-weight-bold">4</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="content">
                <label for="port" class="form-label mt-5 bs-secondary-color"
                  >Jenkins port</label
                >
                <input
                  type="text"
                  class="form-control mb-3"
                  id="port"
                  name="port"
                  placeholder="eg: 8080"
                  value=<%= port.port %>
                />
                <span
                  id="portError"
                  class="text-danger font-weight-bold error"
                ><%= error %></span>
              </div>
            </div>

            <!-- href="step5.html" -->
            <!-- i/p changed, type sub -->
            <input
              type="submit"
              class="button-success my-3 text-center w-25"
              value="Install"
            />
              
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>

    <!-- Validation -->
    <script type="text/javascript">
      const myfun = () => {
        let port = document.getElementById("port").value;
        let portError = document.getElementById("portError");

        if (isNaN(port)) {
          portError.innerHTML = "**Port number should be numbers";
        } else if (port == "") {
          portError.innerHTML = "**Port number can't be empty";
        } else if (port.length != 4) {
          portError.innerHTML = "**Please enter valid port number";
        } else {
          portError.innerHTML = "";
          window.location.href = "success";
        }
      };
    </script>
  </body>
</html>
