<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head') %>
  <body>
    <div class="container vh-100">
      <div class="row h-100">
        <div class="col-3"></div>
        <div class="col-6">
          <div class="myCard my-4">
            <div>
              <img
                src="images/NSE_IT.png"
                class="rounded mx-auto d-block mt-5 mb-3 logo"
                alt="NSE_IT"
              />
              <h1 class="h2 font-weight-normal text-center mb-3">
                Tools Automation
              </h1>

              <div class="content-centre">
                <img
                  src="images/success.gif"
                  style="width: 200px; height: 200px; "
                />
              </div>
            </div>

            <a
              type="button"
              href="/"
              class="button-success my-3 text-center w-25"
            >
              Finish
            </a>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </body>
</html>
